.md-nav {
    /* color: rgb(223, 92, 27); */
    /* font-size: 15pt; */
    font-weight: bold;
    /* --md-text-font: "arial"; */
  }

.md-button--foo {
    background: red;
  }

/* .site_name {
    color: rgb(223, 92, 27);
} */